@model IEnumerable<IAIA.Models.User>

@{
    ViewBag.Title = "Index";
}

@Html.ActionLink("Create New user", "Create", null, htmlAttributes: new { @class = "btn btn-primary", @role = "button" })
<div class="container body-content">
    <h2 class="inner-tittle">Projects </h2>
    <!--/gallery-->
    <div class="gallery">
        <div class="gallery-bottom grid">

            @foreach (var item in Model)
            {
                <div class="col-md-3 g-left">
                    <a href='@Url.Action("Details", "Users",new { id=item.UserId})' rel="title" class="b-link-stripe b-animate-go  thickbox">
                        <figure class="effect-oscar">

                            <img src="@Url.Content(item.UserPhoto)" />
                            <figcaption>
                                <h4>@item.UserFirstName</h4>
                                <p><i class="lnr lnr-magnifier"></i></p>
                            </figcaption>
                        </figure>
                    </a>
                    <br />
                    @Html.ActionLink("Delete", "Delete", new { id = item.UserId }, htmlAttributes: new { @class = "btn btn-primary", @role = "button" })
                </div>

            }

        </div>
    </div>



    </div>