@model IAIA.Models.User

@{
    ViewBag.Title = "TeamLeaderProfile";
}

@section profile{
    <!-- <img src="@Url.Content(@Model.UserPhoto)" />-->
    <img src='@Url.Content(Model.UserPhoto)' style=" width:150px ;height:150px" />
    <span class=" name-caret">@Model.UserFirstName @Model.UserLasttName</span>
    <p>@Model.UserJob_description</p>
    <p>@Model.UserEmail</p>
    <p>@Model.UserPhone</p>
    <ul>

        <li><a class="tooltips" href="#"><span>Profile</span><i class="lnr lnr-user"></i></a></li>
        <li><a class="tooltips" href='@Url.Action("Edit", "Users", new { id = Model.UserId })'><span>Settings</span><i class="lnr lnr-cog"></i></a></li>
        <li><a class="tooltips" href='@Url.Action("Logout", "Home")'><span>Log out</span><i class="lnr lnr-power-switch"></i></a></li>
    </ul>
}
@section notify{
    <ul>
        <li><a href='@Url.Action("listRequstes", "Users", new { tlid = Model.UserId })'>Requstes</a></li>


        <li>

            @Html.ActionLink("Delevered projects", "Delevered", new { tlid = Model.UserId })
        </li>
        <li>
            @Html.ActionLink("assagned J D ", "AssignJDd", new { id = ViewBag.tlid })
        </li>
        <li>
            @Html.ActionLink("feedback ", "listAlljd", new { tlid = Model.UserId })

        </li>
        <li>
            @Html.ActionLink("Current Projects ", "CurrentProjects", new { tlid = ViewBag.tlid })

        </li>
    </ul>
}

@section n1{
    <span>Notifications</span>
    <ul class="dropdown">
        <li> <a href='@Url.Action("feedback ", "listAlljd", new { tlid = Model.UserId })'>feedbacks</a></li>
        <li><a href='@Url.Action("listRequstes", "Users", new { tlid = Model.UserId })'>requstes</a></li>


    </ul>
    

}
<div style="display: inline-flex;">
    <div>

        <a href='@Url.Action("CurrentProjects", new { tlid = ViewBag.tlid })'>
            <img src='@Url.Content("~/Content/p6.jpg")' style="width:600px;height:500px" />
        </a>
    </div>
    <div>


        <a href='@Url.Action("Delevered", new { tlid = Model.UserId })'>
            <img src='@Url.Content("~/Content/p5.jpg" )' style="width:600px;height:500px" />

        </a>
    </div>

</div>
<div style="display: inline-flex;">
    <div>

        <a href='@Url.Action("AssignJDd", new { id = ViewBag.tlid })'>
            <img src='@Url.Content("~/Content/5.jpg")' style="width:600px;height:500px" />
        </a>
    </div>
    <div>


        <a href='@Url.Action("listAlljd", new { tlid = Model.UserId })'>
            <img src='@Url.Content("~/Content/p5.jpg" )' style="width:600px;height:500px" />

        </a>
    </div>

</div>
<div style="display: inline-flex;">
    <div style="margin-right:89%">
        @Html.ActionLink("assagned J D ", "AssignJDd", new { id = ViewBag.tlid }, htmlAttributes: new { @class = "btn btn-primary", @role = "button" })
    </div>

    <div>
        @Html.ActionLink("feedback ", "listAlljd", new { tlid = Model.UserId }, htmlAttributes: new { @class = "btn btn-primary", @role = "button" })
    </div>
    <div>

    </div>
    <div>

    </div>
    @Html.ActionLink("chart","getdata")
</div>







